@font-face {
    font-family: 'Avenir-Regular';
    src: url('../../fonts/Avenir-Regular.woff') format('woff'),
        url('../../fonts/Avenir-Regular.woff2')format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../../fonts/Avenir-Medium.woff') format('woff'),
        url('../../fonts/Avenir-Medium.woff2')format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('../../fonts/Avenir-Bold.woff') format('woff'),
        url('../../fonts/Avenir-Bold.woff2')format('woff2');
    font-weight: 700;
    font-display: swap;
}